.circle{
    position:absolute;
    width:150px;
    height: 150px;
    border-radius: 50%;
    border: 1.5px solid black;
}


#second{
 position:relative;
 left:92px;
 background-color: rgba(124, 205, 124, 0.3);
}

#first {
    background-color: rgba(255, 48, 48, 0.3);
}


#third {
    position: relative; 
    top: -73px;
    left: 46px;
    background-color: rgba(105, 89, 205, 0.3);
}

.text {
    opacity:1;
	text-decoration: black;
	z-index: 10;
}

#text1 {
	position: relative;
	top:  40px;
	left: -25px;
	text-align: center;
}
#text2 {
	position: relative;
	top:  40px;
	right: -25px;
	text-align: center;
	
}
#text3 {
	position: relative;
	top:  90px;
	text-align: center;
}
#text4 {
	position: relative;
	top:  25px;
	left: 47px;
	text-align: center;
}
#text5 {
	position: relative;
	top:  73px;
	left: 10px;
	text-align: center;
}
#text6 {
	position: relative;
	top:  93px;
	right: 10px;
	text-align: center;
}
#text7 {
	position: relative;
	top:  50px;
	right: 47px;
	text-align: center;
}
#caption {
	position: relative;
    top: -60px;
    left: 10px;
	font-size: 8pt;
}

#problem{
    font-size: 8pt;
    color:white;
    position: absolute;
    width: 75px;
    height: 75px;
    border-left:2px solid red;
    border-top:2px solid red;
    top : 41px;
    left:71px;
    z-index:-4;
    background:red;
}
#problem:after{
    position:absolute;
    content:" ";
    background:white;
    width:150px;
    height:150px;
    top:-2px;
    left: -2px;
    border-radius: 50%;
    z-index:-3;
}


table {
    font-size: 9pt;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 10px 5px;
}
table th {
    width: 200px;
    padding: 5px;
    font-weight: bold;
    vertical-align: top;
}
table td {
    width: 800px;
    padding: 5px;
    vertical-align: top;
}
table .even {
    background: #efefef;
}